* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 5%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Header************/

.logo{
    padding-top:30px;
    margin-bottom: 25px;
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;  
}



header{
    display: flex;
    justify-content: space-between;
    margin-top: -8px;

}

.menu1{
    padding-top: 15px;
    display: flex;
    gap: 68px;        
}

.menu{
    margin-top: -15px;
    padding-top: 14px;
    padding-bottom: 0px;
    border-top: 2px solid #fff;
}

.menu:hover{
    border-top: 2px solid #0065FC ;
    color: #0065FC; 
}

.div1 h1{

    font-family: Raleway;
    font-size: 1.3em;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    }
    
#minih2{
        margin-top: 0px;
        }
 
 
 
/*************** Navigation **************/
.location{
    padding-top: 15px;                
    padding-left: 19px;
    padding-bottom:15px;
    padding-right: 19px;
    border-top:1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-right:  0px; 
    color: black;   
}

#search{
    border-top:1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: 1px solid #F2F2F2;
    padding-top: 16px;
    padding-left: 2px;
    padding-bottom: 14px;
    padding-right: 2px;
    background-color:none;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.rechercher{
    border-top:1px solid #F2F2F2 ;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: 1px solid #F2F2F2;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC; 
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.gap{
    display: flex;
    gap: 0px;
   
}

.div1{
    margin-bottom: 34px;
}


.onglet{
   display: flex;
   margin-top: 34px;
   gap: 20px;
   
   
}

.onglet:first-child{
    margin-top: 0px ;
}

.icones{
    margin-top: 0px;
    margin-bottom: 0px;
}

.filter-tabs-list{
    display: flex;
    flex-direction: row;
    margin-top: 35px;

    
}

.filter-tabs-list div{
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: bold; 
    margin-left:10px;
    align-items: center;       
}

.filter-tabs-list div:hover{
    background-color: #DEEBFF;
}



.index{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 15px;


}
.index span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    
}

/* Hebergement section*/ 

.hebergements h2{
    margin-top: 0;
}

.hebergements-card img{
    height: 60% ;
    width:100%;
    border-radius: 20px 20px 0 0 ;
    
}

.hebergements-card .card {
    display:inline-block;
    width: 30%;
    height: 27vh;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-right: 14px;  
    margin-bottom: 10px;  
}
.hebergements-card-contents{
    padding-left: 9px;
    padding-top: 2px;
}

#bold{
    font-weight: 700;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    margin-top: 26px;    
}


.card-subtitle{
    margin: 0;
}

.card-title{
    margin:0;
    margin-bottom:10px;
}

/*************************** Activités Section***************************/

.activity-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.small-card{
    background-color: white;
    width:33%;
    height: 439px ;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #0000001A  ; 
    overflow: hidden;
    
}

.activity-main img{
    width: 100%;
    height: 85%;
    position: relative;
}

.activity-main h3{
    padding-left: 19px;
    font-size: 1.1em;
}

#activity-title{
    margin-bottom: 34px;
    margin-top: 60px;
}

#activity-section{
    margin-left: 25px;
}


/***************************FOOTER************************/

.footer{
    margin-top: 150px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start; 
    margin-bottom: -8px ;
    
    
      
}

.footer-content{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 20px;   
}



/**************Media Queries******************/

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }



    /******* Hebergement and footer *******/

    .hebergements-card .card{
        display: inline-block;
        width: 28%;
        height: 10vh;
        margin-left: 9px;
        margin-bottom: 10px;
    }
    
    .small-card{
        width: 190px;
        height: 270px;
    }
    
    .activity-main img{
        width: 100%;
        height: 80%;
    }
    
    .activity-main h3{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.9em;
        margin-top: 5px;
    }
    
    
    .footer{
        margin-top: 70px;
    }
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo{
   
}

.menu1{
    
}

/************Hebergement**************/

.hebergements-card{
    display: flex;
    
    flex-direction: column;
    align-items:center;

}
.hebergements-card .card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    
}
/**************Activity*************/

.activity-main{
    display: flex;
    flex-direction: column;
}

.small-card{
    
    width: 100%;
}

/**********Footer************/

.footer{
    display: flex;
    flex-direction: column;
}

}
