* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.mobile {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 5%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;

}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Header************/

.logo {
    padding-top: 30px;
    margin-bottom: 25px;
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
}


header {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;

}

.menu1 {
    padding-top: 15px;
    display: flex;
    gap: 68px;
}

.menu {
    margin-top: -15px;
    padding-top: 14px;
    padding-bottom: 0px;
    border-top: 2px solid #fff;
   
}

.menu:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.menu2{
    margin-top: -15px;
    padding-top: 14px;
    padding-bottom: 0px;
    border-top: 2px solid #fff;
}
.menu2:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.div1 h1 {

    font-family: Raleway;
    font-size: 1.3em;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
}

#minih2 {
    margin-top: 0px;
}


/*************** Navigation **************/
.location {
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 15px;
    padding-right: 19px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
    color: black;
}

#search {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right:none;
    padding-top: 16px;
    padding-left: 2px;
    padding-bottom: 14px;
    padding-right: 2px;
    background-color: none;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    

}



.rechercher {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: 1px solid #F2F2F2;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.logo-search{
    display: none;
}
.gap {
    display: flex;
    gap: 0px;

}

.div1 {
    margin-bottom: 34px;
}


.onglet {
    display: flex;
    margin-top: 34px;
    gap: 20px;


}

.onglet:first-child {
    margin-top: 0px;
}

.icones {
    margin-top: 0px;
    margin-bottom: 0px;
}

.filter-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.filter-wrapper {
    display: flex;
    flex-direction: row;
}

.filter-tabs-list {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    flex-wrap: wrap;
}

.filter-tabs-list .filter-button {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 8px 16px;
    font-weight: bold;
    margin-left: 10px;
    align-items: center;
    
}

.title-filter {
    padding-right: 10px;
}

.filter-tabs-list .filter-button:first-child {
    margin-left: 0px;
}


.filter-button:hover {
    background-color: #DEEBFF;
}


.index {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 15px;
    margin-left: 0px;
    gap: 10px;

}

.index span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

}

/* Hebergement section*/
.hebergements-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.hebergements h2 {
    margin-top: 0;
}

.hebergements-card img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.hebergements-card .card {
    width: 30%;
}

.hebergements-card-contents {
    padding-left: 9px;
    padding-top: 2px;
}

#bold {
    font-weight: 700;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-start;
    margin-top: 26px;
}


.card-subtitle {
    margin: 0;
}

.card-title {
    margin: 0;
    margin-bottom: 10px;
}

/*************************** Activités Section***************************/

.activity-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.small-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #0000001A;
    overflow: hidden;
    width: 25%;
}

.activity-main img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activity-main h3 {
    padding-left: 19px;
    font-size: 1.1em;
}

#activity-title {
    margin-bottom: 34px;
    margin-top: 60px;
}



/***************************FOOTER************************/

.footer {
    margin-top: 150px;
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
    margin-bottom: -8px;
}

.footer-content {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 20px;
}


/**************Media Queries******************/

@media (max-width: 1024px) {
    .title-filter {
        width: 100%;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /******* Hebergement and footer *******/
    .hebergements-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .small-card {
        width: 25%;
    }

    .activity-main img {
        width: 100%;
        height: 200px;
    }

    .activity-main h3 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0.9em;
        margin-top: 5px;
    }

    .card-title{
        margin-bottom: 5px;
    }


    .footer {
        margin-top: 70px;
    }
}

/* medium desktop */
@media (max-width: 1292px) {
    .hebergements-card .card {
        width: 29%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
        padding: 0;
        
    }

/*****************header****************/

    .mobile {
        display: flex;
    }

    .rechercher{
        display: none;
    }

    #search{
       margin-right: -8px;
       width: 100%;
    }

    .gap {
        padding-left: 20px;
        padding-right: 20px;
    }
    
     .logo-search{
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 15px 16px;
        background-color: #0065FC;
        border: 0;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .logo-mobiles{
        color: white;
    }
    header {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }

    .menu1{
        width: 100%;
        gap: 0;
        justify-content: space-around;
    }

    .menu{

        border-bottom:2px solid #F2F2F2;
        padding-bottom: 19px;
        width: 100%;
        text-align: center;
    }

    .menu:hover{
        border-bottom:2px solid #0065FC ;
        border-top: none;
    }

    .menu2{
        border-bottom:2px solid #F2F2F2;
        padding-bottom: 19px;
        width: 100%;
        text-align: center;
    }

    .menu2:hover{
        border-top: none;
        border-bottom:2px solid #0065FC;
        padding-bottom: 19px;
        width: 100%;
    }

    .menu:hover{
        border-bottom:2px solid #0065FC;
        padding-bottom: 19px;

    }

    .div1 h1{
        margin-left: 20px;  
    }

    #minih2{
        margin-left: 20px;
        margin-top: 8px;
    }

   
   
    .filter-button-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 16px;
    }



    .filter-wrapper{
    width: 100%;
    gap: 16px;
  }

     .filter-button{
    width: 50%;
    margin-left: 0!important;
  }

  .filter-button:hover{
    color: #0065FC;

  }

  .filter-button-wrapper a{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
  }
    .filter-tabs-list {
        display: block;
        padding: 0 20px;
    }

    .filter-tabs-list p {
        display: block;
    }

    /*************popular***************/

    .hebergements-and-populaires section{
        padding: 20px;
        margin-top: 20px;
        border-radius: 0;
    }

    .populaires-cards{
        flex-direction: column;  
    }

    .card{
        width: 320%;
      
    }
    /************Hebergement**************/

.hebergements-and-populaires .hebergements{
    background-color: white;
}


    .hebergements {
        order: 2;
        background-color: white;
    }

    .hebergements-card {
        display: flex;
        flex-direction: column;
    }

    .hebergements-card .card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;
        box-sizing: border-box;
    }

    .hebergements-card img {
        object-fit: cover;
        height: 124px;
    }

    /**************Activity*************/
    .activity-main {
        display: flex;
        flex-direction: column;
        
    }

    #activity-section{
        padding: 20px;
        margin-left: 0;
       
    }

    .activity-main img {
        width: 100%;
        height: 141px;
    }

    #activity-title{
        display: flex;
        flex-wrap: nowrap;
        justify-content:flex-start;
        font-family: Raleway;
        font-size: 1.4em;
        font-weight: 700;
        letter-spacing: 0em;
        margin-left: 20px;
        margin-bottom: 0;
       
    }
    .small-card {
        width: 100%;
        margin-top: 15px;
    }

    /**********Footer************/
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        width: 100%;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .index {
        padding-left: 20px;
        gap: 10px;
    }

}

@media (max-width: 360.98px) {   
    .filter-tabs-list .filter-button {
        font-size: 13px;
    }
}